:root{
  --color-blue: #045ef5;
  --color-red: #da0f46;
}
@font-face {
  font-family: 'CustomSymbol';
  src: local('Lucida Grande');
  unicode-range: U+232b, U+f7, U+d7, U+2212, U+2b, U+3d, U+25;
}
html{
  font-family: "CustomSymbol", "Source Code Pro", "PingFang SC", "Apple Symbols";
  font-size: 17px;
}
body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.container{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  padding-top: constant(safe-area-inset-top);
  padding-right: constant(safe-area-inset-right);
  padding-bottom: constant(safe-area-inset-bottom);
  padding-left: constant(safe-area-inset-left);
}

.screen{
  flex: 1;
  display: flex;
  flex-flow: column;
  text-align: right;
  overflow-x: hidden;
  position: relative;
}
.history-scroll{
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}
#history{
  background-color: #fcfcfc;
  color: #545454;
}
.calc-row{
  display: flex;
  flex-flow: column;
  border-top: 1px solid #efefef;
  padding: 16px;
}
.calc-row.empty{
  display: none;
}
.expression, .result{
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: normal;
}
.expression{
  padding: 0 0 16px 0;
  
}
.result{
  padding: 16px 0 0 0;
  border-top: 1px solid #f5f5f5;
}
.result.estimate{
  color: #8b8b8b;
}
.result.error{
  color: var(--color-red);
}

.keyboard{
  width: 100%;
  border-collapse: collapse;
  color: #121212;
  font-weight: 500;
  font-size: 1.5em;
  -webkit-user-select: none;
  user-select: none;
}
.keyboard tr{
  min-height: 1em;
  max-height: 100px;
  height: calc(25vw - 1px);
}
.keyboard td{
  background-color: #fff;
  border: 1px solid #efefef;
  text-align: center;
  width: 25%;
  padding: 0;
  cursor: pointer;
}
.keyboard td:hover{
  filter: brightness(.98);
}
.keyboard td:active{
  filter: brightness(.8);
}
.keyboard td.eq{
  background-color: var(--color-blue);
  /* border-color: var(--color-blue); */
  color: #fff;
}
.keyboard td:first-child{
  border-left: none;
}
.keyboard td:last-child{
  border-right: none;
}